<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form id="listForm">

            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>

            <h1>${msg.advertsearch}</h1>

            <h:panelGrid columns="2">
                <p:outputLabel for="phrase" value="#{msg.searchphrase}:"/>
                <p:inputText id="phrase" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.searchphrase}"
                             style="width:100%"
                             value="#{searchPageBean.phrase}">
                </p:inputText>

                <p:outputLabel for="city" value="#{msg.city}"/>
                <p:selectOneMenu id="city" value="#{searchPageBean.cityName}" var="c" filter="true"
                                 filterMatchMode="startsWith">
                    <f:selectItems value="#{searchPageBean.cityList}" var="city" itemLabel="#{city.name}" itemValue="#{city}" />
                    <p:column>
                        <h:outputText value="#{c.name}" />
                    </p:column>
                </p:selectOneMenu>
            </h:panelGrid>

            <h:panelGrid columns="2">
                <p:commandButton action="#{searchPageBean.search}"
                                 value="#{msg.search}"
                                 ajax="false"
                                 icon="ui-icon-shuffle"/>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
