<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h1>#{msg.editaccount}</h1>
        <div id="content">
            <h:form>
                <h:panelGrid columns="3">
                    <p:outputLabel for="login" value="#{msg.login}:"/>
                    <p:inputText id="login" requiredMessage="#{msg.valuerequired}"
                                 style="width:100%" required="true"
                                 value="#{editPageBean.account.login}">
                    </p:inputText>
                    <p:message for="login"/>
                    <p:outputLabel for="email" value="#{msg.email}"/>
                    <p:inputText id="email" validatorMessage="#{msg.incorrectemail}"
                                 value="#{editPageBean.account.email}"
                                 style="width:100%" required="true" requiredMessage="#{msg.valuerequired}">
                        <f:validateRegex
                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                    </p:inputText>
                    <p:message for="email"/>
                    <p:commandButton id="submitButton" update=":message"
                                     actionListener="#{editPageBean.editAccount}"
                                     value="#{msg.editaccount}"
                                     icon="ui-icon-shuffle">
                        <p:confirm header="#{msg.confirm}"
                                   message="#{msg.edit}"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
                </h:panelGrid>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="#{msg.yes}" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="#{msg.no}" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>

            </h:form>
        </div>

        <p:growl id="message" showDetail="true"/>

    </ui:define>

</ui:composition>