<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/main-template.xhtml">

    <ui:define name="content">

        <p:outputPanel id="employer-list-header">

            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>

            <h1>${msg.employerslist}</h1>
        </p:outputPanel>

        <p:outputPanel id="employer-list-container">
            <h:form id="listForm">
                <p:dataTable id="listTable" var="employer" value="#{employerProfileListBean.employerDataModel}"
                             tableStyle="width: auto">
                    <p:column headerText="#{msg.name}">
                        <h:outputText value="#{employer.name}"/>
                    </p:column>

                    <p:column headerText="#{msg.description}">
                        <h:outputText value="#{employer.description}"/>
                    </p:column>

                    <p:column headerText="#{msg.rating}">
                        <p:rating value="#{employer.getRatingAsInt()}" stars="5" readonly="true"/>
                    </p:column>

                    <p:column headerText="#{msg.profile}">
                        <p:commandButton value="#{msg.show}" action="#{employerProfileListBean.prepareProfileView}"
                                         ajax="false"/>
                    </p:column>
                    <c:if test="#{employerProfileListBean.moderator}">
                        <p:column headerText="#{msg.acceptprofile}">
                            <p:commandButton value="#{msg.confirm}" action="#{employerProfileListBean.acceptProfile}"
                                             rendered="#{not employer.profileConfirmed}" oncomplete="updateTable()"
                                             update=":message"/>
                        </p:column>
                    </c:if>
                </p:dataTable>
                <p:remoteCommand name="updateTable" update=":listForm:listTable"
                                 actionListener="#{employerProfileListBean.initModel}"/>
            </h:form>
        </p:outputPanel>
        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>