<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <p:outputPanel id="profile-header">
            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>
            <h:outputText class="fa fa-user fa-5x fa-border" id="user-icon"/>
            <h:outputText value="#{employeeProfileBean.employee.firstName}" styleClass="profile-firstname"/>
            <h:outputText value="#{employeeProfileBean.employee.lastName}" styleClass="profile-lastname"/>
        </p:outputPanel>
        <p:outputPanel id="profile-info">
            <p:outputPanel id="employee-data">
                <p:panelGrid columns="2">
                <f:facet name="header">
                    ${msg.employeedata}
                </f:facet>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        ${msg.personaldata}
                    </f:facet>
                    <h:outputText value="#{msg.city}"/>
                    <h:outputText value="#{employeeProfileBean.employee.cityId.name}"/>
                    <h:outputText value="#{msg.phonenumber}"/>
                    <h:outputText value="#{employeeProfileBean.employee.phoneNumber}"/>
                </p:panelGrid>
                <p:dataTable value="#{employeeProfileBean.employee.employeeLanguageList}" var="language">
                    <f:facet name="header">
                        ${msg.languages}
                    </f:facet>
                    <p:column headerText="#{msg.language}">
                        <h:outputText value="#{language.language}"/>
                    </p:column>

                    <p:column headerText="${msg.level}">
                        <h:outputText value="#{language.level}"/>
                    </p:column>
                </p:dataTable>
                </p:panelGrid>
                <p:dataTable value="#{employeeProfileBean.employee.employeeEducationList}" var="education">
                    <f:facet name="header">
                        ${msg.education}
                    </f:facet>
                    <p:column headerText="#{msg.major}">
                        <h:outputText value="#{education.major}"/>
                    </p:column>

                    <p:column headerText="#{msg.university}">
                        <h:outputText value="#{education.universityId.name}"/>
                    </p:column>

                    <p:column headerText="#{msg.city}">
                        <h:outputText value="#{education.universityId.cityId.name}"/>
                    </p:column>

                    <p:column headerText="#{msg.datefrom}">
                        <h:outputText value="#{education.dateFrom}"/>
                    </p:column>

                    <p:column headerText="#{msg.dateto}">
                        <h:outputText value="#{education.dateTo}"/>
                    </p:column>
                </p:dataTable>
                <p:dataTable value="#{employeeProfileBean.employee.employeeJobHistoryList}" var="job">
                    <f:facet name="header">
                        ${msg.experience}
                    </f:facet>
                    <p:column headerText="${msg.position}">
                        <h:outputText value="#{job.position}"/>
                    </p:column>

                    <p:column headerText="${msg.employer}">
                        <h:outputText value="#{job.employer}"/>
                    </p:column>

                    <p:column headerText="${msg.datefrom}">
                        <h:outputText value="#{job.dateFrom}"/>
                    </p:column>

                    <p:column headerText="${msg.dateto}">
                        <h:outputText value="#{job.dateTo}"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
            <p:outputPanel id="emp-rating-responses">
                <p:dataList value="#{employeeProfileBean.employee.employerRatingList}" var="rating"
                            type="unordered">
                    <f:facet name="header">
                        ${msg.ratings}
                    </f:facet>
                    <h:outputText value="#{rating.employeeId.firstName}" styleClass="emp-firstname"/>
                    <h:outputText value="#{rating.employeeId.lastName}" styleClass="emp-lastname"/>
                    <h:outputText value="#{rating.employerId.name}" styleClass="emp-name"/>
                    <h:outputText value="#{rating.comment}" styleClass="emp-comment"/>
                    <p:rating value="#{rating.rating}" stars="5" readonly="true" styleClass="emp-rating"/>
                </p:dataList>
                <p:dataList value="#{employeeProfileBean.employee.advertResponseList}" var="response"
                            type="unordered">
                    <f:facet name="header">
                        ${msg.responses}
                    </f:facet>
                    <h:outputText value="#{response.employeeId.firstName}" styleClass="emp-firstname"/>
                    <h:outputText value="#{response.employeeId.lastName}" styleClass="emp-lastname"/>
                    <h:outputText value="#{response.advertId.employerId.name}" styleClass="emp-name-adv"/>
                    <h:outputText value="#{response.advertId.cityId.name}" styleClass="emp-city"/>
                    <h:outputText value="#{response.message}" styleClass="emp-message"/>
                    <h:outputText value="#{response.responseTime}" styleClass="emp-response"/>
                </p:dataList>
            </p:outputPanel>
        </p:outputPanel>
    </ui:define>
</ui:composition>