<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">

        <p:outputPanel id="profile-header">
            <p:button outcome="employer-list" value="#{msg.back}"/>
            <p:separator/>
            <h:outputText class="fa fa-building fa-5x fa-border" id="company-icon"/>
            <h:outputText value="#{employerProfileBean.employer.name}" styleClass="profile-title"/>
            <h:outputText class="fa fa-check fa-2x fa-border" id="check-icon"
                          rendered="#{employerProfileBean.employer.profileConfirmed}"/>
            <h:outputText value="#{employerProfileBean.employer.description}"
                          styleClass="profile-description"/>
            <p:rating value="#{employerProfileBean.employer.getRatingAsInt()}" stars="5" styleClass="rating-div"
                      readonly="true"/>
            <h:outputText value="#{employerProfileBean.employer.rating}" styleClass="rating-number"/>
        </p:outputPanel>

        <p:outputPanel id="profile-info">
            <p:dataList value="#{employerProfileBean.employer.employerLocationList}" var="location"
                        type="unordered">
                <f:facet name="header">
                    ${msg.locations}
                </f:facet>
                <h:outputText value="#{location.cityId.name}" styleClass="city-name"/>
                <h:outputText value="#{location.address}" styleClass="address"/>
            </p:dataList>
            <p:dataList value="#{employerProfileBean.employer.advertList}" var="advert"
                        type="unordered">
                <f:facet name="header">
                    ${msg.adverts}
                </f:facet>
                <h:outputText value="#{advert.cityId.name}" styleClass="city-name"/>
                <h:outputText value="#{advert.title}" styleClass="address"/>
            </p:dataList>

            <p:outputPanel>
                <p:dataList value="#{employerProfileBean.acceptedRatings}" var="rating"
                            type="unordered">
                    <f:facet name="header">
                        ${msg.ratings}
                    </f:facet>
                    <h:outputText value="#{rating.employeeId.firstName}" styleClass="emp-firstname"/>
                    <h:outputText value="#{rating.employeeId.lastName}" styleClass="emp-lastname"/>
                    <h:outputText value="#{rating.comment}" styleClass="emp-comment"/>
                    <p:rating value="#{rating.rating}" stars="5" readonly="true" styleClass="emp-rating"/>
                </p:dataList>

                <h:form>
                    <p:commandButton value="#{msg.addRating}" action="#{employerProfileBean.setEmployerToRate}"
                                     ajax="false"/>
                </h:form>

            </p:outputPanel>

        </p:outputPanel>

    </ui:define>
</ui:composition>