<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h1>#{msg.changepassword}</h1>
        <h:form>
            <h:panelGrid columns="2">
                <p:outputLabel for="oldPassword" value="#{msg.password}:"/>
                <p:password id="oldPassword" requiredMessage="#{msg.valuerequired}"
                            placeholder="#{msg.oldpassword}"
                            value="#{changePasswordPageBean.oldPassword}"
                            required="true" style="width:100%">
                </p:password>

                <p:outputLabel for="newPassword" value="#{msg.newpassword}:"/>
                <p:password id="newPassword" requiredMessage="#{msg.valuerequired}"
                            placeholder="#{msg.newpassword}"
                            value="#{changePasswordPageBean.newPassword}"
                            match="newPasswordAgain" required="true"
                            style="width:100%" validatorMessage="#{msg.passwordsdontmatch}">
                </p:password>

                <p:outputLabel for="newPasswordAgain" value="#{msg.newpasswordagain}:"/>
                <p:password style="width:100%" id="newPasswordAgain"
                            placeholder="#{msg.newpasswordagain}" validatorMessage="#{msg.passwordtooshort}"
                            required="true" requiredMessage="#{msg.valuerequired}">
                    <f:validateLength minimum="6"/>
                </p:password>

                <p:commandButton id="submitButton"
                                 actionListener="#{changePasswordPageBean.changePassword}"
                                 value="#{msg.changepassword}" update=":message"
                                 icon="ui-icon-shuffle">
                    <p:confirm header="#{msg.areusure}"
                               message="#{msg.changepasswordreally}"
                               icon="ui-icon-alert"/>
                </p:commandButton>

                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
            </h:panelGrid>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button"
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button"
                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>
        </h:form>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>