#profile-header {
    width: 100%;
}
#profile-info{
    width: 80%;
    margin-left: 20%;
    text-align: center;
}

#profile-info li{
    list-style-type: none;
}
.profile-title{
    color: black;
    font-size: 48px;
    margin-left: 5%;
    font-weight: bold;
}

.profile-description{
    display: inline-block;
    width: 60%;
    margin-left: 15%;
    margin-top: -1%;
    font-style: italic;
}

.profile-firstname, .profile-lastname{
    color: black;
    font-size: 48px;
    font-weight: bold;
    padding: 1%;
}
.emp-name{
    font-style: italic;
    font-weight: bold;
    opacity: 0.5;
    padding-left: 2%;
}
.emp-name-adv{
    font-style: italic;
    font-weight: bold;
    opacity: 0.5;
    padding: 1%;
}
.emp-city{
    font-weight: bold;
    opacity: 0.5;
    padding: 1%;
}
.emp-message{
    font-style: italic;
    padding: 1%;
}
.emp-response{
    font-size: 10px;
}

.emp-firstname{
    font-weight: bold;
    padding: 3px;
}

.emp-lastname{
    font-weight: bold;
    padding: 3px;
}

.emp-lastname:after{
    content: ": ";
}

.emp-comment{
    padding: 3%;
    font-style: italic;
}

.emp-rating{
    display: inline-block;
    padding: 0 2%;
}

.rate-button{
    float: right;
}

.rating-number{
    display: inline-block;
    padding: 0.5%;
}
.rating-div{
    display: inline-block;
    margin-left: 1%;
}

.city-name{
    font-weight: bold;
    padding: 15px;
}

.address{
    font-style: italic;
    font-size: 90%;
}

.main-office{
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    font-size: 15px;
    padding: 10px;
}

#company-icon, #user-icon{
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#check-icon{
    color: darkgreen;
    margin-left: 2%;
}
#check-icon.fa-border{
    border-radius: 60px;
    border-color: darkgreen;
}

#company-icon.fa-border{
    background-color: #cecece;
    border: 5px solid #eaeaea;
}

.icon-container{
    -webkit-box-shadow: -5px 6px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 20px 2px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 20px 2px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: white;
    height: 150px;
    width: 100px;
    margin-left:300px;
}
