<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/main-template.xhtml">


    <ui:define name="content">
        <h2>#{msg.register}</h2>
        <h:form>

            <!--login-->
            <h:panelGrid columns="3" cellspacing="10">
                <p:outputLabel for="login" value="#{msg.login}:"/>
                <p:inputText id="login"
                             placeholder="#{msg.enterlogin}"
                             value="#{registerPageBean.account.login}" required="true"
                             requiredMessage="#{msg.valuerequired}">
                </p:inputText>
                <p:message for="login"/>

                <p:outputLabel for="password" value="#{msg.password}:"/>
                <p:password id="password" match="confirmPassword"
                            placeholder="#{msg.enterpassword}"
                            value="#{registerPageBean.account.password}"
                            required="true"
                            requiredMessage="#{msg.valuerequired}" validatorMessage="#{msg.passwordsdontmatch}">

                </p:password>
                <p:message for="password"/>

                <p:outputLabel for="confirmPassword" value="#{msg.repeatpassword}:"/>
                <p:password id="confirmPassword"
                            placeholder="#{msg.repeatpassword}" validatorMessage="#{msg.passwordtooshort}"
                            required="true" requiredMessage="#{msg.valuerequired}">
                    <f:validateLength minimum="6"/>
                </p:password>
                <p:message for="confirmPassword"/>

                <p:outputLabel for="email" value="#{msg.email}"/>
                <p:inputText id="email"
                             placeholder="#{msg.enteremail}"
                             value="#{registerPageBean.account.email}"
                             required="true" requiredMessage="#{msg.valuerequired}"
                             validatorMessage="#{msg.incorrectemail}">
                </p:inputText>
                <p:message for="email"/>

                <p:outputLabel for="type" value="#{msg.accounttype}:"/>
                <p:selectOneRadio id="type" value="#{registerPageBean.account.profileType}" required="true"
                                  requiredMessage="#{msg.valuerequired}">
                    <f:selectItem itemLabel="#{msg.employer}"
                                  itemValue="#{registerPageBean.account.profileTypeValue('EMPLOYER')}"/>
                    <f:selectItem itemLabel="#{msg.employee}"
                                  itemValue="#{registerPageBean.account.profileTypeValue('EMPLOYEE')}"/>
                </p:selectOneRadio>
                <p:message for="type"/>

                <p:commandButton id="submitButton" action="#{registerPageBean.register}" ajax="false"
                                 value="#{msg.create}" icon="ui-icon-shuffle" update=":message"/>

                <p:button outcome="home" value="#{msg.back}"
                          icon="ui-icon-arrowreturnthick-1-e"/>

            </h:panelGrid>
        </h:form>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>
