<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/templates/main-template.xhtml">

    <ui:define name="content">
    <h:form id="listForm">

        <p:button outcome="home" value="#{msg.back}"/>
        <p:separator/>

        <h1>${msg.userlist}</h1>

        <p:dataTable id="listTable" var="account" value="#{ListPageBeanMOK.accountsDataModel}" editable="true"
                     tableStyle="width: auto" >

            <p:ajax event="rowEdit" listener="#{ListPageBeanMOK.onRowEdit}" update=":message"
                    oncomplete="updateTable()"/>

            <p:column headerText="#{msg.login}">
                <h:outputText value="#{account.login}"/>
            </p:column>

            <p:column headerText="#{msg.email}">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{account.email}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{account.email}" style="width:100%"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="#{msg.active}">
                <h:outputText value="#{account.active}"/>
            </p:column>

            <p:column headerText="#{msg.accstatus}">
                <p:commandButton value="#{msg.activate}"
                                 actionListener="#{ListPageBeanMOK.activateAccount}" update=":message"
                                 oncomplete="updateTable()">
                    <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                </p:commandButton>
                <p:commandButton value="#{msg.deactivate}"
                                 actionListener="#{ListPageBeanMOK.deactivateAccount}" update=":message"
                                 oncomplete="updateTable()">
                    <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                </p:commandButton>
            </p:column>
            <p:column headerText="#{msg.password}">
                <p:commandButton value="#{msg.change}" action="#{ListPageBeanMOK.prepareChangePasswordView}"
                                 ajax="false"/>
            </p:column>
            <p:column headerText="#{msg.accesslevels}">
                <p:outputPanel id="accessLevelsPanel">
                    <p:panelGrid columns="4">
                        <h:outputText value="#{msg.admin}"/>
                        <h:outputText value="#{msg.moderator}"/>
                        <h:outputText value="#{msg.employer}"/>
                        <h:outputText value="#{msg.employee}"/>

                        <p:selectBooleanCheckbox value="#{account.admin}"/>
                        <p:selectBooleanCheckbox value="#{account.moderator}"/>
                        <p:selectBooleanCheckbox value="#{account.employer}"/>
                        <p:selectBooleanCheckbox value="#{account.employee}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{msg.ok}" actionListener="#{ListPageBeanMOK.changeAccessLevels}"
                                     update=":message" oncomplete="updateTable()">
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                    </p:commandButton>

                </p:outputPanel>
            </p:column>

            <p:column headerText="#{msg.edit}">
                <p:rowEditor/>
            </p:column>
        </p:dataTable>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                             icon="ui-icon-check" />
            <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                             icon="ui-icon-close"/>
        </p:confirmDialog>

        <p:remoteCommand name="updateTable" update=":listForm:listTable"
                         actionListener="#{ListPageBeanMOK.initModel}"/>
    </h:form>


    <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>
