<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <p:outputLabel for="login" value="#{msg.login}:"/>
                <p:inputText id="login" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.enterlogin}"
                             style="width:100%"
                             value="#{createPageBean.account.login}" required="true">
                </p:inputText>
                <p:outputLabel for="password" value="#{msg.password}:"/>
                <p:password id="password" requiredMessage="#{msg.valuerequired}"
                            placeholder="#{msg.enterpassword}"
                            value="#{createPageBean.account.password}"
                            match="confirmPassword" required="true"
                            style="width:100%" validatorMessage="#{msg.passwordsdontmatch}"/>

                <p:outputLabel for="confirmPassword" value="#{msg.repeatpassword}:"/>
                <p:password style="width:100%" id="confirmPassword"
                            placeholder="#{msg.repeatpassword}" validatorMessage="#{msg.passwordtooshort}"
                            required="true" requiredMessage="#{msg.valuerequired}">
                    <f:validateLength minimum="6"/>
                </p:password>
                <p:outputLabel for="email" value="#{msg.email}"/>
                <p:inputText id="email" requiredMessage="#{msg.valuerequired}"
                             placeholder="#{msg.enteremail}" validatorMessage="#{msg.incorrectemail}"
                             value="#{createPageBean.account.email}"
                             style="width:100%" required="true">
                    <f:validateRegex
                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                </p:inputText>
            </h:panelGrid>
            <h:panelGroup id="checkboxes">
                <h:panelGrid columns="4">
                    <h:outputText value="#{msg.admin}"/>
                    <h:outputText value="#{msg.moderator}"/>
                    <h:outputText value="#{msg.employer}"/>
                    <h:outputText value="#{msg.employee}"/>

                    <p:selectBooleanCheckbox class="checkall" value="#{createPageBean.account.admin}"/>
                    <p:selectBooleanCheckbox class="checkall" value="#{createPageBean.account.moderator}"/>
                    <p:selectBooleanCheckbox class="checkall" value="#{createPageBean.account.employer}"/>
                    <p:selectBooleanCheckbox class="checkall" value="#{createPageBean.account.employee}"/>
                </h:panelGrid>
            </h:panelGroup>
            <h:commandButton id="resetButton" actionListener="#{createPageBean.resetAccessLevels}" value="#{msg.reset}">
                <f:ajax render="checkboxes"/>
            </h:commandButton>

            <h:panelGrid columns="2">
                <p:commandButton id="submitButton" oncomplete="updateForm()"
                                 actionListener="#{createPageBean.create}"
                                 value="#{msg.create}"
                                 update=":message"
                                 icon="ui-icon-shuffle">
                    <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                </p:commandButton>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
            </h:panelGrid>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>
            <p:remoteCommand name="updateForm" update="@form"/>
        </h:form>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>