<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h1>#{msg.changepassword}</h1>
        <h:form>

            <!--User info-->
            <p:panelGrid columns="2" cellspacing="6">
                <h:outputText value="#{msg.id}"/>
                <h:outputText value="#{adminPasswordBean.account.id}"/>

                <h:outputText value="#{msg.login}"/>
                <h:outputText value="#{adminPasswordBean.account.login}"/>

                <h:outputText value="#{msg.email}"/>
                <h:outputText value="#{adminPasswordBean.account.email}"/>

                <h:outputText value="#{msg.active}"/>
                <h:outputText value="#{adminPasswordBean.account.active}"/>
            </p:panelGrid>

            <!--new password-->
            <h:panelGrid columns="2" cellspacing="10">
                <p:outputLabel for="newPassword" value="#{msg.newpassword}:"/>
                <p:password id="newPassword" requiredMessage="#{msg.valuerequired}"
                            placeholder="#{msg.newpassword}" validatorMessage="#{msg.passwordsdontmatch}"
                            value="#{adminPasswordBean.newPassword}"
                            match="newPasswordAgain" required="true"
                            style="width:100%"/>

                <p:outputLabel for="newPasswordAgain" value="#{msg.newpasswordagain}:"/>
                <p:password style="width:100%" id="newPasswordAgain" validatorMessage="#{msg.passwordtooshort}"
                            placeholder="#{msg.newpasswordagain}" requiredMessage="#{msg.valuerequired}"
                            required="true">
                    <f:validateLength minimum="6"/>
                </p:password>

                <p:commandButton id="submitButton" actionListener="#{adminPasswordBean.changeUserPassword}"
                                 update=":message" oncomplete="updateForm()"
                                 value="#{msg.changepassword}"
                                 icon="ui-icon-shuffle">
                    <p:confirm header="#{msg.areusure}"
                               message="#{msg.changepasswordreally}"
                               icon="ui-icon-alert"/>
                </p:commandButton>

                <p:button outcome="userlist" value="#{msg.back}" ajax="false"
                                 icon="ui-icon-arrowreturnthick-1-e"/>
            </h:panelGrid>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button"
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button"
                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>

            <p:remoteCommand name="updateForm" update="@form"/>
        </h:form>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>