<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h1>#{msg.editprofile}</h1>
        <h:form id="employer-details">
            <h:panelGrid columns="2" id="employer-panel">
                <p:outputLabel for="name" value="#{msg.name}:"/>
                <p:inputText id="name" requiredMessage="#{msg.valuerequired}"
                             style="width:100%" required="true" value="#{editEmployerBean.employer.name}"/>
                <p:outputLabel for="description" value="#{msg.description}:"/>

                <p:inputTextarea id="description" rows="5" cols="30" counter="counter"
                                 maxlength="3000" counterTemplate="#{msg.charactersremaining}: {0}"
                                 autoResize="false" value="#{editEmployerBean.employer.description}"/>
                <h:panelGroup />
                <h:outputText id="counter"/>

            </h:panelGrid>
            <h2>#{msg.category}:</h2>
            <p:dataTable id="categories" value="#{editEmployerBean.employer.categoryList}" var="category"
                         tableStyle="width: auto">
                <p:column headerText="#{msg.name}">
                    <h:outputText value="#{category.name}"/>
                </p:column>
                <p:column headerText="#{msg.business}">
                    <h:outputText value="#{category.businessId.name}"/>
                </p:column>
                <p:column headerText="#{msg.delete}">
                    <p:commandButton update=":employer-details" value="#{msg.delete}" icon="ui-icon-trash"
                                     actionListener="#{editEmployerBean.deleteCategory(category)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{msg.addcategory}" icon="ui-icon-plus" onclick="PF('newCat').show();"/>

            <h2>#{msg.locations}:</h2>
            <p:dataTable id="locationList" value="#{editEmployerBean.employer.employerLocationList}"
                         var="location" tableStyle="width: auto">
                <p:column headerText="#{msg.city}">
                    <h:outputText value="#{location.cityId.name}"/>
                </p:column>
                <p:column headerText="#{msg.address}">
                    <h:outputText value="#{location.address}"/>
                </p:column>
                <p:column headerText="#{msg.delete}">
                    <p:commandButton update=":employer-details" value="#{msg.delete}" icon="ui-icon-trash"
                                     actionListener="#{editEmployerBean.deleteEmployerLocation(location)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{msg.addlocation}" icon="ui-icon-plus" onclick="PF('newLoc').show();"/>

            <p:separator/>

            <h:panelGrid columns="2">
                <p:commandButton update=":message" value="#{msg.editprofile}" icon="ui-icon-disk"
                                 actionListener="#{editEmployerBean.editProfile}">
                    <p:confirm header="#{msg.confirm}" message="#{msg.edit}" icon="ui-icon-alert"/>
                </p:commandButton>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturn-1-w"/>
            </h:panelGrid>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button"
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button"
                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>


        </h:form>

        <p:dialog id="newCatDialog" header="#{msg.addcategory}" widgetVar="newCat" resizable="false" modal="true">
            <h:form>
                <h:panelGrid columns="2" cellpadding="2">
                    <p:selectOneListbox id="newCat" value="#{editEmployerBean.newCategory}"
                                        converter="categoryConverter" var="category" filter="true"
                                        filterMatchMode="contains"
                                        scrollHeight="100">
                        <f:selectItems value="#{editEmployerBean.categoryList}" var="category"
                                       itemLabel="#{category.toString()}"
                                       itemValue="#{category}"/>
                        <p:column>
                            <h:outputText value="#{category.name}"/>
                        </p:column>
                    </p:selectOneListbox>

                    <p:commandButton value="#{msg.save}" actionListener="#{editEmployerBean.addCategory}"
                                     update=":employer-details :newCatDialog :message" onclick="PF('newCat').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog id="newLocDialog" header="#{msg.addlanguage}" widgetVar="newLoc" resizable="false" modal="true">
            <h:form>
                <h:panelGrid columns="2" cellpadding="2">

                    <p:outputLabel for="city" value="#{msg.city}:"/>
                    <p:inputText id="city" requiredMessage="#{msg.valuerequired}" required="true"
                                 style="width:100%" value="#{editEmployerBean.newLocation.cityId.name}"/>

                    <p:outputLabel for="address" value="#{msg.address}:"/>
                    <p:inputText id="address" requiredMessage="#{msg.valuerequired}" required="true"
                                 style="width:100%" value="#{editEmployerBean.newLocation.address}"/>

                    <p:commandButton value="#{msg.save}" actionListener="#{editEmployerBean.addLocation}"
                                     update=":employer-details :message :newLocDialog"
                                     onclick="PF('newLoc').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>
