<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<body>
<ui:composition>
    <h:form>
        <p:menubar>
            <p:menuitem value="SSBD2016-02" outcome="home"/>

            <c:choose>
                <c:when test="#{isUserLogged}">
                    <p:menuitem value="#{indexPageBean.currentAccount.login}"/>
                    <f:facet name="options">
                        <h:form>
                            <p:commandButton value="${msg.logout}" icon="ui-icon-extlink" action="home"
                                             actionListener="#{indexPageBean.logout}" ajax="false"/>
                        </h:form>
                    </f:facet>
                </c:when>
                <c:otherwise>
                    <p:menuitem value="#{msg.guest}"/>
                    <f:facet name="options">
                        <p:button value="${msg.login}" icon="ui-icon-extlink" outcome="login"/>
                        <p:button icon="ui-icon-folder-open" value="#{msg.createaccount}!" outcome="register"/>
                    </f:facet>
                </c:otherwise>
            </c:choose>

        </p:menubar>
    </h:form>
</ui:composition>

</body>
</html>