<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <h:form rendered="#{isUserLogged}">
        <h:form rendered="#{isUserLogged}">
            <p:menu>
                <p:submenu label="${msg.anyuser}">
                    <p:menuitem value="#{msg.changepassword}" outcome="new-password"/>
                    <p:menuitem value="#{msg.editaccount}" outcome="edit-account"/>
                </p:submenu>
            </p:menu>
        </h:form>
        <h:form rendered="#{isAdmin}">
            <p:menu>
                <p:submenu label="${msg.admin}">
                    <p:menuitem value="#{msg.createaccount}" outcome="create-user"/>
                    <p:menuitem value="#{msg.userlist}" outcome="userlist"/>
                </p:submenu>
            </p:menu>
        </h:form>
        <h:form rendered="#{isModerator}">
            <p:menu>
                <p:submenu label="${msg.moderator}">
                    <p:menuitem value="#{msg.createcity}" outcome="create-city"/>
                    <p:menuitem value="#{msg.createuniversity}" outcome="create-university"/>
                    <p:menuitem value="#{msg.universitylist}" outcome="uni-list"/>
                    <p:menuitem value="#{msg.citylist}" outcome="city-list"/>
                    <p:menuitem value="#{msg.notacceptedratings}" outcome="not-accepted"/>
                    <p:menuitem value="#{msg.employerslist}" outcome="employer-list"/>
                </p:submenu>
            </p:menu>
        </h:form>
        <h:form rendered="#{isEmployer}">
            <p:menu>
                <p:submenu label="${msg.employer}">
                    <p:menuitem value="#{msg.listmyadverts}" outcome="my-advert-list"/>
                    <p:menuitem value="#{msg.createadvert}" outcome="create-advert"/>
                    <p:menuitem value="#{msg.editprofile}" outcome="edit-employer"/>
                    <p:menuitem value="#{msg.advertlist}" outcome="advert-list"/>
                    <p:menuitem value="#{msg.employerslist}" outcome="employer-list"/>
                    <p:menuitem value="#{msg.advertsearch}" outcome="advert-search"/>
                </p:submenu>
            </p:menu>
        </h:form>
        <h:form rendered="#{isEmployee}">
            <p:menu>
                <p:submenu label="${msg.employee}">
                    <p:menuitem value="#{msg.editprofile}" outcome="edit-employee"/>
                    <p:menuitem value="#{msg.advertlist}" outcome="advert-list"/>
                    <p:menuitem value="#{msg.advertsearch}" outcome="advert-search"/>
                    <p:menuitem value="#{msg.employerslist}" outcome="employer-list"/>
                </p:submenu>
            </p:menu>
        </h:form>
    </h:form>
</ui:composition>
