<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form id="listForm">
            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>

            <h1>#{msg.universitylist}</h1>

            <p:dataTable id="listTable" var="city" value="#{listCityBean.cityDataModel}" editable="true"
                         tableStyle="width: auto">

                <p:column headerText="#{msg.city}">
                    <h:outputText value="#{city.name}"/>
                </p:column>

                <p:column headerText="#{msg.edit}">
                    <h:commandButton value="#{msg.edit}" action="#{listCityBean.initEdit}" ajax="false"/>
                </p:column>
            </p:dataTable>

            <p:remoteCommand name="updateTable" update=":listForm:listTable"
                             actionListener="#{listCityBean.initModel}"/>
        </h:form>
    </ui:define>
</ui:composition>