<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/main-template.xhtml">

    <ui:define name="content">
        <h:form id="listForm">

            <p:button outcome="home" value="#{msg.back}"/>
            <p:separator/>

            <h1>#{msg.notacceptedratings}</h1>

            <p:dataTable id="listTable" var="rating" value="#{listNotAcceptedBean.ratingDataModel}" editable="true"
                         tableStyle="width: auto">

                <p:column headerText="#{msg.employer}">
                    <h:outputText value="#{rating.employerId.name}"/>
                </p:column>

                <p:column headerText="#{msg.employee}">
                    <h:outputText value="#{rating.employeeId.account.login}"/>
                </p:column>

                <p:column headerText="#{msg.comment}">
                    <h:outputText value="#{rating.comment}"/>
                </p:column>

                <p:column headerText="#{msg.rating}">
                    <p:rating value="#{rating.rating}" stars="5" readonly="true"/>
                </p:column>

                <p:column headerText="#{msg.manage}">
                    <p:commandButton value="#{msg.accept}" update=":message"
                                     actionListener="#{listNotAcceptedBean.acceptRating}" oncomplete="updateTable()">
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{msg.discard}" update=":message"
                                     actionListener="#{listNotAcceptedBean.discardRating}" oncomplete="updateTable()">
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areusure}" icon="ui-icon-alert"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"/>
                <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"/>
            </p:confirmDialog>

            <p:remoteCommand name="updateTable" update=":listForm:listTable"
                             actionListener="#{listNotAcceptedBean.initModel}"/>
        </h:form>
        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>