<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/main-template.xhtml">

    <ui:define name="content">
        <h2>#{msg.login}</h2>
        <h:form>
            <h:panelGrid columns="3" cellspacing="10">
                <p:outputLabel for="username" value="#{msg.login}:"/>
                <p:inputText value="#{indexPageBean.username}" id="username" placeholder="#{msg.enterlogin}" required="true"/>
                <h:message for="username" />

                <p:outputLabel for="password" value="#{msg.password}:"/>
                <p:password value="#{indexPageBean.password}" placeholder="#{msg.enterpassword}" id="password" required="true"/>
                <h:message for="password" />

                <p:commandButton id="submit" value="Login" actionListener="#{indexPageBean.login}"
                                 update=":message" icon="ui-icon-arrowthickstop-1-n"/>
                <p:button outcome="home" value="#{msg.back}" icon="ui-icon-arrowreturnthick-1-e"/>
                <h:messages globalOnly="true" />
            </h:panelGrid>
        </h:form>
        <p:growl id="message" showDetail="true"/>
    </ui:define>
</ui:composition>
