<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <title>#{msg.success}</title>
    </h:head>
    <h:body>
        <h1>#{msg.operationsuccess} </h1>
        
        <h:graphicImage width="500" height="300" value="img/success.jpg"/>
        <p:separator />
        <p:button outcome="home" value="#{msg.back}"  />
    </h:body>
</html>

